body{
  font-family:"Georgia", serif;
  width:100vw;
}

h1{
  text-align:center;
  color:#FF9933;
  font-weight:900;
}

.saffron{
  color:#FF9933;
}
.white{
  color:#FFFFFF;
}
.blue{
  color:#000080;
}
.green{
  color:#128807;
}

button{
  color:#000080;
  background-color:#FF9933;
  border-color:#FF9933;
  border-width:1px;
  border-style:"solid";
  border-radius:1px;
}
